

* {
    margin: 0;
    padding: 0;
}

.bienvenidos{
    display: flex;
    justify-content: center;
    padding-top: 10%;
  
}

.casas-reverse{
display: flex;
flex-direction: row-reverse;
}

.carrousel-12{
    margin: 0%;
padding-top: 5%;
}

.text-bienvenidos{
    padding-top: 5%;
}

.experiencia-campo{
    padding-top: 5%;
}

.boton-casas{
    padding-bottom: 10%;
}


.carrousel-fader{
    width: 70%;
    height: 70%;
}

.col-carrousel-galeria{
    padding-top: 5%;
    display: flex;
    justify-content: center;

}

.final-row-galeria{
    padding-bottom: 5%;
}